*{
    padding: 0;
    margin: 0;
}

#fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 119%;
    height: 116%;
    object-fit: cover; 
    z-index: -1; 
    opacity: 0.7;
}

.img1{
    display: none;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
}

nav a{
    text-decoration: none;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px solid black;
    text-shadow:0px 3px 5px black ;
    transition: all 2s;
    font-size: 16px;
    font-weight: bold;

}
a:hover{
    font-size: 20px;
    padding: 10px;
    background-color: #5461aa;
    color: white;
    background-color: black;
}
nav{
    text-align: center;
}

h2{
    margin-top: 50px;
font-size: 30px;
text-align: center;
}

.logot{
    position: relative;
    text-align: center;
}

.text1{
    margin: 100px;
    margin-top: 20px;
}

.text2{
    margin: 30px;
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid black;
    text-align: center;
    border-radius: 100px;
}



footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    bottom: -300px;
    position: relative;
    width: 100%; 
  }
  
  footer a {
    color: #ddd; 
    text-decoration: none; 
  }
  
  footer a:hover {
    color: #fff; /
  }